{{define "header"}}
<table
  class="t2"
  role="presentation"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  style="width: 100%"
>
  <tr>
    <td class="t1">
      <a href="#" style="font-size: 0px" target="_blank"
        ><img
          class="t0"
          style="
            display: block;
            border: 0;
            height: auto;
            width: 100%;
            margin: 0;
            max-width: 100%;
          "
          width="60"
          height="60"
          alt=""
          src="https://12d48de3-bd34-4a8b-acee-48ecf8e40cbf.b-cdn.net/e/73ba88cd-2955-4a55-9849-6b39037beda0/cdbc5bd7-cb07-40fa-bef3-aabfe825fee4.png"
      /></a>
    </td>
  </tr>
</table>
{{end}}
