<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ایجاد کتاب جدید</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/Yekan-Font-3.0/Yekan.css" />
  </head>
  <body dir="rtl">
    {{template "nav"}}
    <h3>ایجاد کتاب جدید</h3>
    <main>
      <form  class="create_book" action="/books/create/process" method="post">
        <input type="text" placeholder="کد کتاب" required name="isbn" />
        <input type="text" placeholder="نام کتاب" required name="title" />
        <input type="text" placeholder="نویسنده" required name="author" />
        <input type="text" placeholder="قیمت" required name="price" maxlength="3" />
        <textarea name="description" id="" placeholder="توضیحات"> </textarea>
        <button>ثبت</button>
      </form>
    </main>
  </body>
</html>
