<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>فروشگاه کتاب</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/card.css" />
    <link rel="stylesheet" href="/static/Yekan-Font-3.0/Yekan.css" />
  </head>
  <body dir="rtl">
    {{template "nav"}}
    <main>
      <article class="books">
        {{template "books" . }}
      </article>
    </main>
  </body>
</html>
